<div style="padding:5px !important;">
    <h2 class="jumbotron">UNISA Mooc App Driven By Stratis Block Chain (Bit Coin Or Stratis Network)</h2>
    <div class="row">
        <div class="col-lg-4" style="text-align:center !important;">
            <img src="~/images/BlockChain.jpg" alt="blockchain" style="border-radius:5px !important; height:172px !important; width:auto;" />
        </div>
        <div class="col-lg-4" style="text-align:center !important;">
            <img src="~/images/StratisLogo.jpg" alt="blockchain" style="border-radius:5px !important; height:172px !important; width:auto;" />
        </div>
        <div class="col-lg-4" style="text-align:center !important;">
            <img src="~/images/StratisWallet.jpg" alt="blockchain" style="border-radius:5px !important; height:172px !important; width:auto;" />
        </div>
    </div>
</div>
