
@{
    ViewBag.Title = "Failed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="padding:10px !important;">
        <h2>The Operation Failed</h2>

        <p>The last operation you executed Failed Completely. If you have any trouble don't hesitate to contact support.</p>
    </div>
