
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding:10px !important;">
    <h2>Unknow error Occured during serving your request: (@DateTime.Now.ToString("dd/MM/yyyy HH:mm"))</h2>
    <p>
        An error has occured in the Application and has been logged securely. We will try to resolve it, and the System Administrator has been informed!
    </p>
    <p>
        Sorry for any inconveniences, caused. We are working towards an error free environment. The error has currently been queued for analysis.
    </p>
    <p>
        Many thanks<br/>
        <em>UniSA Mooc Team.</em>
    </p>
</div>
